

.main{
 height:300px;
width: 300px;
  display:flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
form{
 background-blend-mode: multiply;
  margin:0px;
  padding:0px;
  border-style: outset;
  background-color: white;
  
}
form input{
  width:50px;
  height:50px;
  border-color:white;
  background-color:grey ;
  color:black;
  margin:0px;
  padding:0px;
  text-size-adjust: 50px;
  font-size:20px;
  border-style:inset;
  border-radius: 50%;
  cursor:pointer;
  
}
form input:hover{
  background-color: #393838;
  color:red;
}
.input-one{
  width:209px;
  border-color: white;
  color:black;
   font-size:30px;
  border-style:groove;
  border-radius:0;
  caret-color: darkblue;
  background-color: white;

}
 .input-one:hover{
  background-color:white;
  color:black;
}